html,
body,
p,
table,
div,
caption,
tr,
td,
th,
button {
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

.header {
    position: relative;
    background-color: navajowhite;
    text-align: center;
    height: 0;
    padding-top: 34.4%;
}

.header-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo {
    height: 34.1%;
    position: relative;
    top: 12.4%;
}

.header-text-a {
    position: absolute;
    width: 100%;
    top: 54.26%;
    color: #333333;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: bold;
    font-family: PingFangSC-Medium, sans-serif;
}

.header-text-b {
    position: absolute;
    top: 74.41%;
    width: 100%;
    color: #666;
    font-size: 0.7rem;
    line-height: 0.7rem;
    font-family: PingFangSC-regular, sans-serif;
}

#table {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    background-color: #ffffff;
    border-radius: 0.2rem;
}

.table-header {
    margin-top: 0.3rem;
}

.table-header p {
    display: inline-block;
    vertical-align: text-bottom;
}

.table-header-color {
    border-radius: 2.5rem;
    background-color: #508ced;
    width: 0.15rem;
    height: 0.7rem;
}

.caption-a {
    color: #333;
    font-size: 0.75rem;
    line-height: 0.8rem;
    font-family: PingFangSC-Medium, sans-serif;
    font-weight: 600;
}

.table-a,
.table-b {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.8rem;
}


/*两个class共用一个样式表的情况下，书写的时候，类名中间需加上一个逗号*/

.table-a th,
.table-a td,
.table-b th,
.table-b td {
    border: 1px solid #cccccc;
    color: #3d3d3d;
    font-size: 0.7rem;
    line-height: 0.725rem;
    font-weight: normal;
    text-align: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem
}


/*不可写作.table-a tr等，否则指向不明确因为tr中有th,td，他们都是块元素*/

.caption-b {
    color: #ff4949;
    font-size: 0.7rem;
    line-height: 0.725rem;
    float: right;
    margin-top: 0.6rem;
    margin-right: 0rem;
    font-size: PingFangSC-Medium, sans-serif;
}


/*此处用float元素将.caption-b浮动到右边，因为元素内容时文本，所以不需要设置宽度，设置一下元素的上右外边距即可。因为整个table已经设置了右外边距，所以此处右外边距设置为0即可。*/

.ad {
    margin-top: 2.1rem;
    font-size: 0.7rem;
    line-height: 1.2rem;
    color: #3d3d3d;
    text-align: center;
}

#number {
    color: #508ced;
}

.btn-a {
    margin-top: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}


/*如果希望按钮随着浏览器窗口的大小无限延伸同时左右又能有边距，则应该在包围button的类中设置左右外边距或内边距*/

.btn-a-active {
    width: 100%;
    background-color: #508ced;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.25rem;
    border-radius: 0.2rem;
    height: 2.2rem;
}

.btn-b {
    margin: 1.5rem 1.2rem 1.6rem 1.2rem;
}

.btn-b-active {
    width: 100%;
    color: #508ced;
    border: 1px solid #508ced;
    font-size: 0.9rem;
    line-height: 1.25rem;
    border-radius: 0.2rem;
    height: 2.2rem;
    background-color: inherit;
}