 .bar1,
 .bar2,
 .bar3 {
     width: 35px;
     height: 5px;
     background-color: #333;
     margin: 6px 0;
     transition: 0.4s;
 }
 
 .container.choice .bar1 {
     transform: rotate(-45deg) translate(-9px, 6Px);
 }
 
 .container.choice .bar2 {
     opacity: 0;
 }
 
 .container.choice .bar3 {
     transform: rotate(45deg) translate(-9px, -6Px);
 }