.section {
    width: 400px;
    margin: 7px auto;
    height: 69px;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, .2);
    overflow: hidden;
    transition: .35s;
}

.title {
    padding: 20px;
    padding-top: 24px;
    background: #00C37E;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 0 #666;
    /*width: 100%;*/
    text-transform: capitalize;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    position: relative;
    user-select: none;
    z-index: 10;
}

.body {
    font: 16px open, sans-serif;
    background: #fff;
    padding: 20px 20px 40px;
    color: #777;
    transition: .35s;
    overflow: hidden;
    transform: translateY(-100%);
    /*display: none;*/
}

.title:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 32px;
    border: 5px solid;
    border-color: #fff transparent transparent transparent;
    transition: transform .3s;
}

.section.open {
    height: 288px;
}

.section.open .body {
    transform: none;
    /*height: auto;*/
}

.section.open .title:after {
    transform: rotate(180deg);
    top: 25px;
    transition: transform .3s;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1
}

.myDropdown.show {
    display: block;
}